@import './vars.scss';

.product-detail {
  grid-area: details;
  &__title {
    display: none;
    font-family: Georgia, serif;
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin: 0 0 25px;
    @media (min-width: $breakpoint-min-desktop) {
      display: block;
    }
  }
  &__price {
    font-size: 2rem;
    line-height: 3.2rem;
    margin: 10px 0 15px;
  }
  &__policy {
    display: flex;
    margin: 15px 0 0;
    justify-content: center;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  a {
    color: $rei-color-text-link-primary;
  }
}