@import './vars.scss';

.size-selector {
  a {
    color: $rei-color-text-link-primary;
  }
//   font-size: 1.4rem;
//   margin: 0;
  &__info {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  &__button {
    align-items: center;
    background-color: white;
    border: 1px solid $rei-color-text-secondary;
    border-radius: 4px;
    color: $rei-color-text-secondary;
    display: inline-flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 5px 10px;
    width: 52px;
    &--selected {
      box-shadow: inset 0 0 0 1px $rei-color-text-primary;
      color: $rei-color-text-primary;
    }
    &--disabled {
      background:
        linear-gradient(
          30deg, transparent 49%,
          $rei-color-text-secondary 49%,
          $rei-color-text-secondary 10%,
          transparent 51%),
        $rei-light-background-color;
      border: none;
    }
  }
  &__container {
    border-radius: 4px;
    margin-bottom: 15px;
    &--error {
      background-color: $rei-light-red-background-color;
      box-shadow: inset 0 0 0 2px $rei-red-background-color;
    }
  }
  &__error-text {
    align-items: center;
    display: flex;
    color: $rei-red-background-color;
    margin-bottom: 10px;
    svg {
      fill: $rei-red-background-color;
      margin: 0 5px 0 0;
    }
  }
}
