$rei-color-text-primary: rgba(12, 11, 8, 0.75);
$rei-color-text-secondary: rgba(66, 59, 47, 0.75);
$rei-color-background-button-primary: #1f513f;
$rei-color-text-link-primary: #406eb5;
$rei-light-gray-color: #F4F2EB;
$rei-light-background-color: #F9F8F6;
$rei-light-red-background-color: #FDF5F5;
$rei-red-background-color: #bb4045;

$breakpoint-min-desktop: 769px;